@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Oswald:wght@400;500;600;700&display=swap');

:root{
    --white:#ffffff;
    --main-clr:#f13b3b;
    --font-clr:#424851;
    --light-white:#f2f3f3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


/* ----------------header---------------- */

.header{
    width: 100%;
    height: 100vh;
}

/* nav */

.nav{
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 5%;
}

/* logo */

.logo{
    text-transform: capitalize;
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--main-clr);
    flex: 1;
}

.logo a{
    color: var(--main-clr);
}

/* nav-items */

.nav-items{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

/* nav-item */

.nav-item{
    text-transform: capitalize;
    color: var(--font-clr);
    font-size: 1rem;
    font-weight: 500;
    line-height: 50px;
}

.nav-item:hover{
    color: var(--main-clr);
}

/* nav-item down arrow */

.nav-item img{
    width: 8px;
    height: 10px;
    margin-left: 3px;
}

/* submenus */

.submenus{
    display: none;
    margin-left: -50px;
}

.nav-items li:hover .submenus{
    display: block;
    position: absolute;
    background-color: var(--white);
    box-shadow: 5px 5px 8px var(--light-white),
                -5px -5px 8px var(--light-white);
    width: 180px;
    padding: 10px;
    z-index: 20000;
}

/* submenu */

.submenu{
    line-height: 30px;
    font-weight: 500;
    color: var(--font-clr);
}

.submenu:hover{
    color: var(--main-clr);
}

/* header cover image */

.cover-image{
    height: 442px;
    position: absolute;
    top: 23%;
    left: 5%;
    box-shadow: 50px 50px 5px var(--light-white);

}

/* header content */

.header-content{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 350px;
    justify-content: space-evenly;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% -30%)
}

.header-content p:nth-child(1){
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--font-clr);
}

.header-content p:nth-child(2){
    font-size: 1.1rem;
    word-spacing: 1px;
    line-height: 23px;
    font-weight: 500;
    color: var(--font-clr);
}

/* content btn */

.content-btn{
    border: none;
    outline: none;
    background-color: var(--main-clr);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    width: 160px;
    height: 45px;
    box-shadow: 2px 2px 3px var(--font-clr);
    cursor: pointer;
    transition: .2s;
}

.content-btn:hover{
    box-shadow: none;
}

/* ----------------featured section---------------- */

.featured-section{
    width: 90%;
    height: 100vh;
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.featured-section p:nth-child(1){
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--font-clr);
    position: relative;
    top: 5%;
}

.featured-image{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.travel,
.fashion,
.lifestyle{
    height: 350px;
    position: relative;
    background-color: black;
}

.travel img,
.fashion img,
.lifestyle img{
    height: 100%;
    opacity: 0.5;
}

.featured-img-btn{
    position: absolute;
    left: 15%;
    top: 40%;
    border: none;
    outline: none;
    padding: 8px 20px;
    text-transform: capitalize;
    background-color: var(--main-clr);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}

.travel p:nth-child(3),
.fashion p:nth-child(3),
.lifestyle p:nth-child(3){
    color: var(--white);
    position: absolute;
    top: 55%;
    left: 12%;
    font-size: 2rem;
    font-weight: 600;
    padding: 0px 10px;

}

/* ----------------articles section---------------- */

.articles-section{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.articles-section p:nth-child(1){
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--font-clr);
}

/* articles-box */

.articles-box{
    display: grid;
    grid-template-rows: repeat(2,450px);
    grid-template-columns: repeat(3,350px);
    grid-gap: 50px 40px;
    justify-content: center;
}

/* child-box */

.child-box{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.child-box .box-img{
    width: 100%;
    height: 50%;
}

.articles-btn{
    border: none;
    outline: none;
    background-color: var(--main-clr);
    color: var(--white);
    font-weight: 500;
    width: 120px;
    height: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 3px var(--font-clr);
}

/* child-box-btn */

.child-box-btn{
    border: none;
    outline: none;
    background-color: var(--main-clr);
    padding: 6px 13px;
    cursor: pointer;
    position: relative;
    top: 5%;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 500;

}

.child-box p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--font-clr);
    position: relative;
    top: 10%;
}

/* ----------------follow section---------------- */

.follow-section{
    width: 90%;
    height: 100vh;
    margin: auto;
}

.child-follow{
    width: 100%;
    height: 65vh;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-0%,-50%);
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.follow-box{
    /* width: 100%;
    height: 65vh;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-0%,-50%);
    background-color: var(--light-white); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.child-follow p:nth-child(1),
.child-follow p a{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--font-clr);
}

.child-follow p a:hover{
    color: var(--main-clr);
}

.follow-img{
    height: 200px;
    
}

.follow-img img{
    height: 100%;
    border-radius: 20px;
}

/* explore btn */

.explore-btn{
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: var(--main-clr);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}

/* ---------------- footer ---------------- */

.footer{
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45vh;
}

.footer-child-content{
    width: 270px;
    height: 100%;
    line-height: 35px;
}
.footer-child-content p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-clr);
}

.footer-child-content p:nth-child(2){
    font-size: .9rem;
    font-weight: 500;

}

.footer-child-content p:nth-child(2) a,
.footer-child-content p:nth-child(3) a,
.footer-child-content p:nth-child(4) a{
    font-size: .9rem;
    font-weight: 500;
    color: var(--font-clr);
}

.footer-child-content p:nth-child(2) a:hover,
.footer-child-content p:nth-child(3) a:hover,
.footer-child-content p:nth-child(4) a:hover{
    color: var(--main-clr);
}

.footer-copyright{
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    height: 15vh;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    line-height: 15vh;
}
